<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            - Contacto -
        </h1>
        <nav>
            <ul class="menu">
        
                <li><a href="../index.html">Perfil</a></li>
               
                <li><a href="Experiencia.html">Experiencia</a></li>  
              
                <li><a href="Cursos.html">Cursos</a></li>
               
                <li><a href="Contacto.html">Contacto</a></li>
                
            </ul>
        </nav>

        <section class="formulario">
            <fieldset>
                <legend>Formulario de contacto</legend>
                <form action="">
                    <div>
                        <label for="name">Nombre</label>
                        <input type="text" name="name" placeholder="escribe tu nombre">
                    </div>
                    <br>
                    <div>
                        <label for="surname">Apellido</label>
                        <input type="text" name="surname">
                    </div>
                    <br>
                    <div>
                        <label for="email">Escribe tu mail *</label>
                        <input type="email" required name="email">
                    </div>
                    <br>
                    
                    <br>
                    <div><label for="pais">Selecciona tu país</label>
                    <select name="pais" id="">
                        <option value="arg">Argentina</option>
                        <option value="uru">Uruguay</option>
                        <option value="per">Perú</option>
                        <option value="per">Chile</option>
                        <option value="per">España</option>
                        <option value="per">Estados Unidos</option>
                        <option value="per">Italia</option>
                    </select></div>
                    <br>
                    <div>
                        <label for="sexo">Género</label>
                        <input type="radio" name="sexo" value="Mujer">Mujer
                        <input type="radio" name="sexo" value="Hombre">Hombre
                        <input type="radio" name="sexo" value="otro">No Binario
                    </div>
                    <br>
                    <div>
                        <label for="comentario">Escribe tus comentarios</label><br>
                        <textarea name="comentario" id="" cols="30" rows="10"></textarea>
    
                    </div>
                    
                    <br> 

                    <div>
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Borrar">
                    </div>
    
                </form>
            </fieldset>
        </section>
       
    </main>
    <footer id="footer">
        
        <a href="#top">
            <h5>
                ir arriba
            </h5>
        </a>
    </footer>



    
</body>
</html>
    </header>
  

    


