<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            - Experiencia -
        </h1>
        <nav>
            <ul class="menu">
        
                <li><a href="../index.html">Perfil</a></li>
               
                <li><a href="Experiencia.html">Experiencia</a></li>  
              
                <li><a href="Cursos.html">Cursos</a></li>
               
                <li><a href="Contacto.html">Contacto</a></li>
                
            </ul>
        </nav>
    </header>
    <main>  
        <body>
            <header>
                
            <hr>
        
                <nav>
                    <ul type="circle">
                        <li>Diseñadora de indumentaria masculina en los rubros de denim y pantalones.
                            TASCANI (TAIPEI SRL) Desde Octubre 2021 a la actualidad.  </li>
                        <li>Diseñadora de indumentaria en línea masculina  con activa participación 
                            en el área de marketing de la empresa.
                            OXFORD POLO CLUB / Desde Julio 2018 hasta hasta octubre 2021.   </li>
                        <li>Diseñadora de indumentaria en línea femenina.
                            Empresa de indumentaria de venta mayorista You and Me (Lee Kang Soon S.A)/
                            Desde Mayo 2017 hasta Julio 2018.   </li>  
                        <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempora quod vitae eveniet, accusamus repellendus, odit temporibus labore neque soluta corrupti amet cupiditate. Provident corrupti incidunt, itaque amet velit esse.</li>  
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore illum tempore assumenda perspiciatis, eum magnam harum quas? Perferendis nobis esse laborum accusamus, distinctio illo quos deserunt laudantium odio eaque necessitatibus.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore illum tempore assumenda perspiciatis, eum magnam harum quas? Perferendis nobis esse laborum accusamus, distinctio illo quos deserunt laudantium odio eaque necessitatibus.</li>
        
        
        
        
                
                    </nav>
        
                 <hr>
                
                 
                 <img src="./IMAGES/tascani-o1.jpg" width="100px" alt="foto de Tascani">
                 <img src="./IMAGES/oxford.jpg" width="100px" alt="foto de OXFORD">
                 <img src="./html/youandme.jpg" width="100px" alt="foto de youandme">
                
            
                <hr>
            
            </header>
            <main>
            
                    <table border ="1" cellpadding="15px" cellspacing="5px">
                        <tr>
                            <th>Skill</th>
                            <th>Nivel de conocimiento (1 a 5)</th>
                            
                        </tr>
                        <tr>
                            <td>Ilustrator</td>
                            <td>4,5</td>
                            
                        </tr>
                        <tr>
                            <td>Corel</td>
                            <td>5</td>
                            
                        </tr>
                        <tr>
                            <td>Phothoshop</td>
                            <td>3,5</td>
                            
                        </tr>
                    </table>
                </section>
                <br>
                
                
                    
            </main>
            <footer id="footer">
            
                <!--Vínculos a un lugar dentro de mi html-->
                <a href="#top">
                    <h5>
                        ir arriba
                    </h5>
                </a>
            </footer>
        
        
        </main>
            
        </body>
        </html>


        


    </header>


</html>